<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tippy"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".stokBarang.StokActivity"
            android:exported="false"
            android:label="Stok Barang"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".stokBarang.TambahBarangActivity"
            android:exported="false"
            android:label="Tambah/Edit Barang"
            android:parentActivityName=".stokBarang.StokActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".Pengiriman.PengirimanActivity"
            android:exported="false"
            android:label="Pengiriman"
            android:parentActivityName=".HomeActivity" />

        <activity android:name=".Pengiriman.TambahPengiriman"
            android:exported="false"
            android:label="Tambah Pengiriman"
            android:parentActivityName=".Pengiriman.PengirimanActivity" />
        <activity android:name=".Pengiriman.DetailPengiriman"
            android:exported="false"
            android:label="Detail Pengiriman"
            android:parentActivityName=".Pengiriman.PengirimanActivity" />
        <activity
            android:name=".Pengiriman.EditPengiriman"
            android:exported="false"
            android:label="Edit Pengiriman"
            android:parentActivityName=".Pengiriman.DetailPengiriman" />

        <activity
            android:name=".DaftarSupplier.DaftarSupplier"
            android:exported="false"
            android:label="Daftar Supplier"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".DaftarSupplier.EditSupplier"
            android:exported="false"
            android:label="Edit Supplier"
            android:parentActivityName=".DaftarSupplier.DaftarSupplier" />

        <activity
            android:name=".DaftarSupplier.TambahSupplier"
            android:exported="false"
            android:label="Tambah Supplier"
            android:parentActivityName=".DaftarSupplier.DaftarSupplier"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Keuangan.MainActivity"
            android:exported="false"
            android:label="Keuangan"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Keuangan.TambahTransaksiActivity"
            android:exported="false"
            android:label="Tambah Transaksi"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Keuangan.DetailTransaksiActivity"
            android:exported="false"
            android:label="Detail Transaksi"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Keuangan.ListTransaksiActivity"
            android:exported="false"
            android:label="Daftar Transaksi"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Keuangan.ImageViewerActivity"
            android:exported="false"
            android:label="Lihat Nota"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".HomeActivity" />

    </application>
</manifest>